







/* 显隐动画 */
@-webkit-keyframes xianyin {
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes xianyin {
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1; }
}
@-ms-keyframes xianyin {
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1; }
}
@-o-keyframes xianyin {
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1; }
}
@keyframes xianyin {
    from { opacity: 1; }
    50% { opacity: 0; }
    to { opacity: 1; }
}







/* 转动动画 */
@-webkit-keyframes zhuan {
    from { -webkit-transform: rotateZ(0deg); }
    /*50% { -webkit-transform: rotateZ(180deg); }*/
    to { -webkit-transform: rotateZ(360deg); }
}
@-moz-keyframes zhuan {
    from { -moz-transform: rotateZ(0deg); }
    /*50% { -moz-transform: rotateZ(180deg); }*/
    to { -moz-transform: rotateZ(360deg); }
}
@-ms-keyframes zhuan {
    from { -ms-transform: rotateZ(0deg); }
    /*50% { -ms-transform: rotateZ(180deg); }*/
    to { -ms-transform: rotateZ(360deg); }
}
@-o-keyframes zhuan {
    from { -o-transform: rotateZ(0deg); }
    /*50% { -o-transform: rotateZ(180deg); }*/
    to { -o-transform: rotateZ(360deg); }
}
@keyframes zhuan {
    from { transform: rotateZ(0deg); }
    /*50% { transform: rotateZ(180deg); }*/
    to { transform: rotateZ(360deg); }
}




/* 上下动画 */
@-webkit-keyframes shangXia_10 {
    from { -webkit-transform: translate(0px,0px); }
    50% { -webkit-transform: translate(0px,10px); }
    to { -webkit-transform: translate(0px,0px); }
}
@-moz-keyframes shangXia_10 {
    from { -moz-transform: translate(0px,0px); }
    50% { -moz-transform: translate(0px,10px); }
    to { -moz-transform: translate(0px,0px); }
}
@-ms-keyframes shangXia_10 {
    from { -ms-transform: translate(0px,0px); }
    50% { -ms-transform: translate(0px,10px); }
    to { -ms-transform: translate(0px,0px); }
}
@-o-keyframes shangXia_10 {
    from { -o-transform: translate(0px,0px); }
    50% { -o-transform: translate(0px,10px); }
    to { -o-transform: translate(0px,0px); }
}
@keyframes shangXia_10 {
    from { transform: translate(0px,0px); }
    50% { transform: translate(0px,10px); }
    to { transform: translate(0px,0px); }
}



@-webkit-keyframes shangXia_15 {
    from { -webkit-transform: translate(0px,0px); }
    50% { -webkit-transform: translate(0px,15px); }
    to { -webkit-transform: translate(0px,0px); }
}
@-moz-keyframes shangXia_15 {
    from { -moz-transform: translate(0px,0px); }
    50% { -moz-transform: translate(0px,15px); }
    to { -moz-transform: translate(0px,0px); }
}
@-ms-keyframes shangXia_15 {
    from { -ms-transform: translate(0px,0px); }
    50% { -ms-transform: translate(0px,15px); }
    to { -ms-transform: translate(0px,0px); }
}
@-o-keyframes shangXia_15 {
    from { -o-transform: translate(0px,0px); }
    50% { -o-transform: translate(0px,15px); }
    to { -o-transform: translate(0px,0px); }
}
@keyframes shangXia_15 {
    from { transform: translate(0px,0px); }
    50% { transform: translate(0px,15px); }
    to { transform: translate(0px,0px); }
}

@-webkit-keyframes shang_8 {
    from { -webkit-transform: translate(0px,0px); }
    to { -webkit-transform: translate(0px,-8px); }
}
@-moz-keyframes shang_8 {
    from { -webkit-transform: translate(0px,0px); }
    to { -webkit-transform: translate(0px,-8px); }
}
@-ms-keyframes shang_8 {
    from { -webkit-transform: translate(0px,0px); }
    to { -webkit-transform: translate(0px,-8px); }
}
@-o-keyframes shang_8 {
    from { -webkit-transform: translate(0px,0px); }
    to { -webkit-transform: translate(0px,-8px); }
}
@keyframes shang_8 {
    from { -webkit-transform: translate(0px,0px); }
    to { -webkit-transform: translate(0px,-8px); }
}





/* 放大缩小 */
@-webkit-keyframes shan {
    from { -webkit-transform: scale(1, 1); }
    40% { -webkit-transform: scale(1.2, 1.2); }
    to { -webkit-transform: scale(1, 1); }
}
@-moz-keyframes shan {
    from { -moz-transform: scale(1,1); }
    40% { -moz-transform: scale(1.2，1.2); }
    to { -moz-transform: scale(1, 1); }
}
@-ms-keyframes shan {
    from { -ms-transform: scale(1, 1); }
    40% { -ms-transform: scale(1.2, 1.2); }
    to { -ms-transform: scale(1, 1); }
}
@-o-keyframes shan {
    from { -o-transform: scale(1, 1); }
    40% { -o-transform: scale(1.2, 1.2); }
    to { -o-transform: scale(1, 1); }
}
@keyframes shan {
    from { transform: scale(1, 1); }
    40% { transform: scale(1.2, 1.2); }
    to { transform: scale(1, 1); }
}




/* 微量放大缩小 */
@-webkit-keyframes qingShan {
    from { -webkit-transform: scale(1, 1); }
    40% { -webkit-transform: scale(1.05, 1.05); }
    to { -webkit-transform: scale(1, 1); }
}
@-moz-keyframes qingShan {
    from { -moz-transform: scale(1,1); }
    40% { -moz-transform: scale(1.05, 1.05); }
    to { -moz-transform: scale(1, 1); }
}
@-ms-keyframes qingShan {
    from { -ms-transform: scale(1, 1); }
    40% { -ms-transform: scale(1.05, 1.05); }
    to { -ms-transform: scale(1, 1); }
}
@-o-keyframes qingShan {
    from { -o-transform: scale(1, 1); }
    40% { -o-transform: scale(1.05, 1.05); }
    to { -o-transform: scale(1, 1); }
}
@keyframes qingShan {
    from { transform: scale(1, 1); }
    40% { transform: scale(1.05, 1.05); }
    to { transform: scale(1, 1); }
}






/* 透明度闪烁 */
@-webkit-keyframes shanshan {
    0% { opacity: 0.7; }
    20% { opacity: 1; }
    40% { opacity: 0.9; }
    60% { opacity: 0.8; }
    80% { opacity: 0.85; }
    100% { opacity: 0.8; }
}
@-moz-keyframes shanshan {
    0% { opacity: 0.7; }
    20% { opacity: 1; }
    40% { opacity: 0.9; }
    60% { opacity: 0.8; }
    80% { opacity: 0.85; }
    100% { opacity: 0.8; }
}
@-ms-keyframes shanshan {
    0% { opacity: 0.7; }
    20% { opacity: 1; }
    40% { opacity: 0.9; }
    60% { opacity: 0.8; }
    80% { opacity: 0.85; }
    100% { opacity: 0.8; }
}
@-o-keyframes shanshan {
    0% { opacity: 0.7; }
    20% { opacity: 1; }
    40% { opacity: 0.9; }
    60% { opacity: 0.8; }
    80% { opacity: 0.85; }
    100% { opacity: 0.8; }
}
@keyframes shanshan {
    0% { opacity: 0.7; }
    20% { opacity: 1; }
    40% { opacity: 0.9; }
    60% { opacity: 0.8; }
    80% { opacity: 0.85; }
    100% { opacity: 0.8; }
}










/* 公共组件 ------------------------------------ */












/*去掉input、textarea、select的默认样式*/
input, textarea, select{
    appearance:none;
    -webkit-appearance:none;/* Safari 和 Chrome */
    -webkit-appearance:none; /* Safari 和 Chrome */
    -moz-appearance:none; /* Firefox */
    
    /*moz-user-select: -moz-text;
    -moz-user-select: text;
    -o-user-select: text;
    -khtml-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;*/
}


















.tips {
    font-size: 11px;
    color: #626267;
    font-weight: 400;
    text-align: center;
}



.logo {
    width: 124px;
    height: 9px;
    background-image: url(../images/logo.png);

    /* position: relative; */
    position: absolute;
    top: 40px;
    /* margin: 0 auto; */
    left: 50%;
    margin-left: -62px;
}









/* ╔══════════════════ loading ═════════════════════╗ */

#loading {
    /* background-color: #E6E5EA; */
    width: 100%;
    height: 100%;
    display: block;
    position:fixed;
}




#loading #loading_progress {
	width: 100%;
	/* height: 40px; */
	/* left: 50%; */
	/* margin-left: -100px; */
	top: 50%;
	margin-top: 0px;
	color: #ACACB0;
	font-size: 30px;
	text-align: center;
    font-weight: bold;
    position: absolute;
	/*font-family: Gotham_Medium;*/
	/* text-shadow: 0px 0px 30px rgba(255,255,255,0.8); */

    visibility: hidden;
}
#loading #loading_progress span {
    font-size: 50px;
}
/* #loading #loading_progress span{
	color: #fff;
	text-shadow: 0px 0px 30px rgba(255,255,255,0.8);
} */



/* ╚══════════════════════════════════════════════╝ */









/* bg ------------------------------------ */

/* #globalBg {
    position:fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
}
#globalBg #cc {
    width: 100%;
    height: 31.88%;
    background: linear-gradient(rgba(188,212,232),rgba(255,255,255,0));
    position: absolute;
}
#globalBg #ii {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 76.92%;
    background-image: url(../images/bg.jpg);
} */

































/* ╔══════════════════ scene ═════════════════════╗ */





#scene #baseScene canvas{
    width: 100%;
}

#scene #btns {
    position: absolute;
    right: 25px;
    bottom: 25px;
    /* width: 0px; */
    /* width: auto; */
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    display:none;
    visibility: hidden;
    
}
#scene #btns p {
    color: #f50;
    font-weight: bold;
    margin-bottom: 10px;
    /* background: rgba(0,0,0,0.4); */
    /* text-shadow: 0px 0px 2px #fff, 0px 0px 2px #fff; */
}
#scene .sceneBtn {
    background: rgba(0,0,0,0.4);
    border-radius: 8px;
    font-size: 15px;
    padding: 6px 12px 6px 12px;
    color: #fff;
    font-weight: 500;
    /* margin-right: 1px; */
    margin-bottom: 5px;
    text-align: right;
    /* float: right; */
    /* display: block; */
    /* display: inline-block; */
    /* position: relative; */
    /* right: 0px; */
    /* width: auto; */
    /* display: block; */
    /* display:list-item; */
    /* width: auto; */
    /* display: inline-block; */
}




/* ╚══════════════════════════════════════════════╝ */







